
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.fondo {
    background-color: rgb(143, 202, 204);
    min-height: 100vh;
    display: grid;
    justify-content: center;
}

.simpsons-img {
    width: 600px;
    text-align: center;
    padding-top: 100px;
}

.contenedor-btn {
    text-align: center;
}

.boton-desbloqueo {
    height: 40px;
    width: 170px;
    border-radius: 30px;
    border-color: rgb(255, 255, 40);
    font-weight: 600;
    background-color: rgb(255, 255, 40);
    cursor: pointer;
    transition: 0.5s;
}

.boton:hover {
    transform: scale(1.03);
}

.contenedor-item {
    text-align: center;
}

.simpsons-img2 {
    width: 300px;
    text-align: center;
    padding-top: 60px;
}

.btnInicio {
    margin-top: 35px;
    height: 40px;
    width: 110px;
    border-radius: 30px;
    border-color: rgb(255, 255, 40);
    font-weight: 600;
    background-color: rgb(255, 255, 40);
    cursor: pointer;
    transition: 0.5s;
}

.btnInicio:hover {
    transform: scale(1.03);
}

.tarjeta {
    background-color: rgba(240, 248, 255, 0.664);
    width: 400px;
    margin: 50px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.nombre {
    padding-bottom: 25px;
}

.imgPersonaje {
    padding-bottom: 25px;
}

.btn-frase {
    margin-top: 35px;
    height: 40px;
    width: 100px;
    border-radius: 30px;
    border-color: rgb(255, 255, 40);
    font-weight: 600;
    background-color: rgb(255, 255, 40);
    cursor: pointer;
    transition: 0.5s;
}

.btn-frase:hover {
    transform: scale(1.03);
}

.frase {
    padding-top: 20px;
}

@media screen and (max-width: 350px) {
    .simpsons-img2 {
        width: 240px;
    }

    .tarjeta {
        width: 260px;
    }

    .imgPersonaje {
        width: 220px;
    }
} 

